
@{
    ViewBag.Title = "About Us";
}
    <div class="aboutus-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="aboutus-image float-left hidden-sm"><img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/e0f37e35880139.5706bb0e41161.jpg" alt=""></div>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="aboutus-content ">
                            <h1>Acerca de nosotros</h1>
                            <h4>Team Work</h4>
                            <p> Este proyecto fue realizado para el curso de Desarrollo de Aplicaciones Empresariales Avanzado dictado por el docente Hugo Torrico. Fue realizado por Antony Yanavilca, Antony Cueva y Rassmir Flores.</p>

                            <div class="counter ">

                                <div class="single-counter text-center">
                                    <h2 class="counter">10</h2>
                                    <p>Duracion del proyecto</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter">3</h2>
                                    <p>Cafecitos</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter">0</h2>
                                    <p>Siestas</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter">1</h2>
                                    <p>Amanecidas</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

